@page
@model WebApp.Pages.CRUDServiceStockPart.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceStockParts[0].StockPart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceStockParts[0].Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceStockParts[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ServiceStockParts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StockPart!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
