@page
@model WebApp.Pages_PlayerCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DbPlayerDTO[0].ShipsDbFriendly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbPlayerDTO[0].ShootingHistoryDbFriendly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbPlayerDTO[0].SpriteDbFriendly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbPlayerDTO[0].BoardBoundsDbFriendly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbPlayerDTO[0].ShipBeingPlacedIdx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbPlayerDTO[0].IsHorizontalPlacement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbPlayerDTO[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbPlayerDTO[0].PlayerType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbPlayerDTO[0].fCameraPixelPosY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbPlayerDTO[0].fCameraPixelPosX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbPlayerDTO[0].fCameraScaleX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbPlayerDTO[0].fCameraScaleY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbPlayerDTO[0].fMouseSelectedTileX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DbPlayerDTO[0].fMouseSelectedTileY)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DbPlayerDTO) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShipsDbFriendly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShootingHistoryDbFriendly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpriteDbFriendly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardBoundsDbFriendly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipBeingPlacedIdx)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHorizontalPlacement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fCameraPixelPosY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fCameraPixelPosX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fCameraScaleX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fCameraScaleY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fMouseSelectedTileX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fMouseSelectedTileY)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
